.App-header {
    padding: 10px 6%;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 3%;
    font-size: calc(10px + 1vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .App-link:hover {
    color: azure;
  }

  .App-link.active {
    color: azure;
  }
